.characters {
    width: 80%;
    margin: 0 auto;
    border: solid 1px;
    background-color: #242424;
    text-align: center;
}

.characters h1 {
    color: white;
}

.content_characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.content_characters div a {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    margin: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.content_characters div a img {
    width: auto;
    height: 150px;
    border: solid 2px rgb(82, 0, 0);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
}

.content_characters div a img:hover {
    border: solid 2px rgb(255, 255, 255);
    opacity: 70%;
    box-shadow: 0px 0px 50px 0px white;

}

.content_characters div a span,
h3 {
    color: white;
    padding: 10px;
}

.content_characters div a span {
    overflow: hidden;
}