.comics_characters {
    width: 100%;
    margin: 0px 0px 20px 0px;
    background-color: #202020;
    h1{
        color: #9b9999;
        margin-bottom: 20px;
        text-align: center;
    }
    .characters_selected {
        width: 100%;
        border-radius: 10px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    hr {
        border: none;
        border-top: 3px double rgb(170, 20, 20);
        color: #9b9999;
        overflow: visible;
        text-align: center;
        height: 15px;
        margin-top: 15px;
    }
    hr:after {
        background: rgb(170, 20, 20);
        content: 'Marvel';
        border-radius: 5px;
        padding: 4px 7px 4px 7px;
        position: relative;
        top: -13px;
        font-weight: 500
    }
    .characters_selected img{
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 90px;
        padding: 20px;
    }
    .content_comics_characters{
        text-decoration: none;
        height: 200px;
        width: 90%;
        margin: 20px 0px 20px 0px;
        border-radius: 10px;
    } 
    .content_comics_characters {
        display: flex;
        width: 94%;
        margin: 2% 3% 0% 3%;
        background: #952228;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: solid 2px rgb(0, 0, 0);
        overflow: hidden;
    }
    .content_comics_characters:hover{
        border: solid 2px rgb(78, 78, 78);
        box-shadow: 0px 0px 50px 0px rgb(78, 78, 78);
    }
    .content_comics_characters span{
        padding: 10px 10px 10px 20px;
        font-size: 22px;
        font-weight: 700;
        color: black;
        overflow: hidden;
    }
    .content_comics_characters p{
        padding: 25px 10px 10px 20px;
        font-size: 18px;
        font-weight: 400;
        color: black;
    }
    .content_comics_characters img{
        height: 200px;
        width: 250px;
        object-fit: cover;
        object-position: left top;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
