.comics {
    width: 80%;
    margin: 0 auto;
    border: solid 1px;
    background-color: #242424;
    text-align: center;
    h1 {
        color: #9b9999;
    }
    .content_comics {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
    }
    .content_comics div a {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 250px;
        margin: 10px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .content_comics div a img {
        width: auto;
        height: 150px;
        border: solid 2px rgb(0, 0, 0);
        cursor: pointer;
        object-fit: cover;
        border-radius: 5px;
    }
    .content_comics div a img:hover {
        border: solid 2px rgb(78, 78, 78);
        box-shadow: 0px 0px 50px 0px rgb(78, 78, 78);
    }
    .content_comics div a span,
    h3 {
        color: white;
        padding: 10px;
    }
    .content_comics div a span {
        overflow: hidden;
    }
}